.App {
  text-align:  vertical right ;
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}

.App-header {
  background-color: #34b0d2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);

  td {
    padding: 10px;
  }
  
  & img {
    width: 250px;
    height: 150px;
    text-align: left;
}}

.App-link {
  color: #ffffff;

}
.tool-bar{
  background-color: rgba(30, 206, 219, 0.572);
  width: 100%;
  text-align: right;

}
.menu-bar{
  background-color: rgb(255, 255, 255);
  height: 37px;
}
.prod-img {
  border: 1px solid rgb(174, 174, 174);
}

h1 {
  color: #6170fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
